<div id="local_modcomments-container" data-courseid="{{courseid}}" class="moove-container-fluid p-0 my-2 path-local_modcomments">
    <h5>{{#str}}activityscomments, local_modcomments{{/str}}</h5>

    <div class="card card-body">
        <div class="add-comment">
            <img src="{{{userpicture}}}" class="userimg" alt="{{{userfullname}}}">

            <div class="input-group">
                <p class="post-comment-input" placeholder="{{#str}}typeyourcomment, local_modcomments{{/str}}" contenteditable="true" data-tribute="true"></p>

               <div class="text-right">
                   <button class="btn btn-outline-primary post-comment-btn mt-2" type="button">
                       <i class="fa fa-commenting-o"></i> {{#str}}comment, local_modcomments{{/str}}
                   </button>
               </div>
            </div>
        </div>

        <div class="comments-container">
            {{#comments}}
                <div class="comment fadeIn">
                    <div class="userinfo">
                        <div class="userimg">
                            <img src="{{userpicture}}" alt="{{userfullname}}">
                        </div>
                        <div class="nameanddate">
                            <p class="username">{{userfullname}}</p>
                            <span class="small">{{humantimecreated}}</span>
                        </div>
                    </div>
                    <p class="text">{{{comment}}}</p>
                </div>
            {{/comments}}
        </div>
    </div>
</div>

{{#js}}
    require([
        'local_modcomments/addcomment',
        'local_modcomments/tribute_init'
    ], function(AddComment, TributeInit) {
        AddComment.init({{courseid}}, {{cmid}}, '{{modname}}');

        TributeInit.init();
    });
{{/js}}